header {
  background-color: brown;
  h1 {
    font-size: 1.5em;
    margin: 0;
    color: white;
    padding: .5em 1em;
  }
}

main {
  padding: 1em .5em;

  table {
    border-collapse: collapse;
    width: 100%;
    td, th {
      border-bottom: 1px solid #eeeeee;
      padding: .3em;
      text-align: start;
    }
  }
}

footer {
  padding: 1em 1em;
  font-size: .7em;
  color: brown;
  text-align: center;
}
